* {
    margin: 0;
    padding: 0;
  }
  
  .header {
    width: 95%;
    padding-right: 5%;
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
  }
  
  .header button {
    all: unset;
    font-size: 20px;
    cursor: pointer;
    display: flex;
  }
  
  .header button::after {
    content: attr(notification_count);
    font-size: 15px;
    font-weight: 900;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    position: relative;
    bottom: 10px;
    left: -1%;
    /* background-color: rgb(224, 224, 224); */
    color: red;
  }
  

  @media (max-width:1000px) {
    .header {
      width: 90%;
      padding-right: 0%;
   
    }
}

  