*{
    margin: 0;
    padding: 0;
}
.homePage{
    width: 100%;
    height: 100%;
  
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     /* background-color:   #DDE1E7; */
     
}

.allPosts{
    overflow-y: scroll;
    overflow-x: hidden;
 width: 60%;
 height: 95%;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 /* box-shadow:  5px 5px 10px #8f8f8f,
 -5px -5px 10px #ffffff; */
 /* border: 10px solid transparent; */
 
}
.allPosts::-webkit-scrollbar {
    width: 2px;
  }
  .allPosts::-webkit-scrollbar-track {
    background: rgba(168, 168, 168, 0.456);
  }
  ::-webkit-scrollbar-thumb {
    background: #000000;
  }
  
  /* Handle on hover */
  .allPosts::-webkit-scrollbar-thumb:hover {
    background: red;
  }
.stories{
    width: 90%;
    height: 15%;
    background-color: #8f8f8f;
    position:relative fixed;
    top: 0px;
    z-index: 1;
    position: sticky;
}

@media (max-width:1000px) {
  .homePage{
    height: 90%;
  }

}
@media (max-width:850px){
  .allPosts{
    width: 90%;
  }
}
@media (max-width:380px) {
  .allPosts{
      width: 100%;
      /* background-color: red; */
  }
}